@import url('https://fonts.googleapis.com/css?family=EB+Garamond:600|Open+Sans&display=swap');
body {
    width: 35em;
    margin-top: 3em;
    margin-left: 3em;
    margin-right: 13rem;
    font-family: 'Open Sans', sans-serif;
    color: #232323;
}


/* Farewell */

a:link,
a:visited,
a:hover,
a:active {
    color: #232323;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 3em;
}

img {
    max-width: 100%;
    max-height: auto;
    background-size: contain;
}

p {
    line-height: 2.6ch
}