@import url('https://fonts.googleapis.com/css?family=EB+Garamond:600|Open+Sans&display=swap');
body {
    max-width: 35em;
    width: 35em;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #232323;
}


/* Farewell */

a:link,
a:visited,
a:hover,
a:active {
    color: #ffffff;
}

h1 {
    font-size: 3em;
}

img {
    max-width: 100%;
    max-height: auto;
    background-size: contain;
}

p {
    line-height: 2.6ch
}