<html>

<head>
    <title>James' Site | Blog</title>
    <link rel="stylesheet" type="text/css" href="/s/default.css">
</head>

<body>
    <h1>{{ title }}</h1>
    {% for post in posts %}
    <div>
        <small>{{ post.date }}</small>
        <a href="{{ url_for('post', name=post.path.replace('posts/', '')) }}">{{ post.title }}</a>
    </div>
    {% endfor %}
</body>