<template>
  <div class="home">
    <h1>Part graphic designer, part developer, with a hint of mint.</h1>
    <h2>Some things I've done</h2>
    <ul>
      <li v-for="obj in articles" v-bind:key="obj">
        <a v-bind:href="obj.url">{{obj.title}}</a>
      </li>
    </ul>
    <h2>Where to find me</h2>
    <ul>
      <li v-for="obj in links" v-bind:key="obj">
        <a v-bind:href="obj.url">{{obj.title}}</a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'home',
  components: {
  },
  data() {
    return {
      posts: [],
      errors: [],
      articles: [
        {
          "title": "Revealed an exploit in 2010-2014 Hyundai Infotainment Systems",
          "url": "https://twitter.com/realJamesClick/status/1121995264649072640"
        },
        {
          "title": "Started one the first Hack Clubs in Southern California",
          "url": "https://hackclub.com"
        },
        {
          "title": "Developed a worldwide security competition for High Schoolers",
        },
      ],
      links: [
        {
          "title": "Twitter",
          "url": "https://twitter.com/realJamesClick"
        },
        {
          "title": "LinkedIn",
          "url": "https://linkedin.com/in/jamesclick"
        },
        {
          "title": "GitHub",
          "url": "https://github.com/JamesClick"
        },
      ]
    }
  },
}
</script>
